<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-6">
      <div class="section">
        <h2>Theme Answers</h2>
        <form class="row g-3" [formGroup]="newThemeAnswerForm" (ngSubmit)="addAnswer(true)">
          <div class="col-auto">
            <input type="text" class="form-control" id="themeAnswerInput" placeholder="New answer" formControlName="answer" />
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-light mb-3">
              <svg-icon name="square-plus"></svg-icon>
            </button>
          </div>
        </form>
        <div class="hstack gap-3" *ngFor="let t of themeAnswers">
          <span class="badge text-bg-secondary">{{ t[0].length }}</span>
          <table class="table table-sm table-bordered" [ngStyle]="{ 'width.px': t[0].length * 30 }">
            <tbody>
              <tr>
                <td class="square" *ngFor="let char of t[0].split(''); let i = index" (click)="toggleCircle(t[0], i)">
                  <div class="square-contents" [ngStyle]="{ 'height.px': 30, 'width.px': 30 }">
                    <div class="value text-center">
                      <span>{{ char }}</span>
                    </div>
                    <div class="circle" [ngStyle]="{ 'border': t[1].includes(i) ? 'solid' : 'none' }"></div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="section">
        <h2>Answers</h2>
        <form class="row g-3" [formGroup]="newAnswerForm" (ngSubmit)="addAnswer(false)">
          <div class="col-auto">
            <input type="text" class="form-control" id="answerInput" placeholder="New answer" formControlName="answer" />
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-light mb-3">
              <svg-icon name="square-plus"></svg-icon>
            </button>
          </div>
        </form>
        <div class="hstack gap-3" *ngFor="let answer of answers">
          <span class="badge text-bg-secondary">{{ answer.length }}</span>
          <p>{{ answer }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
