<div class="d-flex flex-column min-vh-100">
  <ul class="nav nav-pills">
    <li *ngFor="let page of pages" class="nav-item">
      <a
        #pageLink
        [routerLink]="page.route"
        class="nav-link"
        aria-current="page"
        [title]="page.title"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        [routerLinkActive]="'active'"
        [ngClass]="{ 'disabled': page.index != 0 && !puzzleLoaded }">
        <div class="icon"></div>
      </a>
    </li>
  </ul>
  <ul class="nav mt-auto">
    <li *ngFor="let button of buttons" class="nav-item">
      <a
        #userButton
        class="nav-link"
        aria-current="button"
        [title]="button.title"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        (click)="button.action()">
        <div class="icon"></div>
      </a>
    </li>
  </ul>
</div>
