<div class="container-fluid">
  <div class="row"><h2>My Puzzles</h2></div>
  <div class="row">
    <div class="col">
      <div class="card new" role="button" type="button" data-bs-toggle="modal" data-bs-target="#createModal">
        <div class="card-body">
          <div class="hstack gap-2">
            <svg-icon name="plus"></svg-icon>
            <div class="p-1">New Puzzle</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="createModal">Create New Puzzle</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="newPuzzleForm" (ngSubmit)="createPuzzle()">
            <div class="mb-3">
              <input type="text" class="form-control" aria-label="Puzzle Title" placeholder="Title" formControlName="title" />
            </div>
            <div class="mb-3">
              <div class="input-group mb-3">
                <input type="number" class="form-control" min="3" max="25" aria-label="Width" placeholder="Width" formControlName="width" />
                <input
                  type="number"
                  class="form-control"
                  min="3"
                  max="25"
                  aria-label="Height"
                  placeholder="Height"
                  formControlName="height" />
              </div>
            </div>
            <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Create</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <app-puzzle-group
    *ngIf="listLoaded"
    [puzzles]="userPuzzleCards"
    [config]="{ readonly: false, showOwner: false }"
    (selectEvent)="selectPuzzle($event)"
    (lockEvent)="setPuzzleLock($event.id, $event.value)"
    (shareEvent)="setPuzzleShare($event.id, $event.value)"
    (deleteEvent)="deletePuzzle($event)"></app-puzzle-group>
  <div class="row"><h2>Public Puzzles</h2></div>
  <app-puzzle-group
    *ngIf="listLoaded"
    [puzzles]="publicPuzzleCards"
    [config]="{ readonly: true, showOwner: true }"
    (selectEvent)="selectPuzzle($event)"></app-puzzle-group>
</div>
