table {
  outline: none;

  .spacer {
    background-color: #212529;
  }
  .spacer.selected {
    background-color: #495057;
  }

  .highlighted {
    background-color: #0d6dfd13;
  }
  .selected {
    background-color: #0d6dfd3b;
  }

  .shaded {
    background-color: #ced4da;
  }
  .shaded.selected {
    background-color: #adb5bd;
  }

  .square {
    padding: 0px;

    .square-contents {
      position: relative;

      .number {
        position: absolute;
        font-size: x-small;
        line-height: 12px;
      }

      .circle {
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border-color: #495057 !important;
        border-width: 8px;
      }

      .value {
        font-size: larger;
        line-height: 32px;
        color: #6c757d;
      }
    }
  }
}
