<div class="container">
  <div class="row">
    <div class="hstack gap-3">
      <div class="btn-group" role="group" aria-label="Edit Mode">
        <button type="button" class="btn btn-primary" [ngClass]="{ 'active': editMode == 0 }" (click)="editMode = 0; onUpdateConfig()">
          Answers
        </button>
        <button type="button" class="btn btn-primary" [ngClass]="{ 'active': editMode == 1 }" (click)="editMode = 1; onUpdateConfig()">
          Spacers
        </button>
        <button type="button" class="btn btn-primary" [ngClass]="{ 'active': editMode == 2 }" (click)="editMode = 2; onUpdateConfig()">
          Circles
        </button>
        <button type="button" class="btn btn-primary" [ngClass]="{ 'active': editMode == 3 }" (click)="editMode = 3; onUpdateConfig()">
          Shades
        </button>
      </div>
      <div class="btn-group" role="group" aria-label="Highlight Mode">
        <button
          type="button"
          class="btn btn-info"
          [ngClass]="{ 'active': highlightMode == 0, 'disabled': editMode != 0 }"
          (click)="highlightMode = 0; onUpdateConfig()">
          Across
        </button>
        <button
          type="button"
          class="btn btn-info"
          [ngClass]="{ 'active': highlightMode == 1, 'disabled': editMode != 0 }"
          (click)="highlightMode = 1; onUpdateConfig()">
          Down
        </button>
        <button
          type="button"
          class="btn btn-info"
          [ngClass]="{ 'active': highlightMode == 2, 'disabled': editMode != 0 }"
          (click)="highlightMode = 2; onUpdateConfig()">
          Intersect
        </button>
      </div>
      <button class="btn btn-secondary" type="submit" (click)="answersHidden = !answersHidden; onUpdateConfig()">
        <span *ngIf="answersHidden">Show</span><span *ngIf="!answersHidden">Hide</span> Answers
      </button>
      <button class="ms-auto btn btn-success" type="submit" (click)="onSave()">Save</button>
      <button class="btn btn-danger" type="submit" (click)="onClear()">Clear</button>
    </div>
  </div>
  <div class="row mt-4" *ngIf="puzzleLoaded">
    <div class="col">
      <app-grid [config$]="gridConfig$"></app-grid>
    </div>
    <div class="col">
      <app-selected-clue></app-selected-clue>
    </div>
  </div>
</div>
