.container-fluid {
  padding: 10px 40px;

  .answer-component {
    padding: 35px 28px;

    .card {
      height: 260px;
      overflow: scroll;

      .theme-answers {
        overflow: scroll;
        margin-bottom: 20px;

        li {
          margin-bottom: 6px;
        }
      }

      .answer-bank {
        column-count: 2;
        overflow: scroll;

        li {
          margin-bottom: 6px;
        }
      }
    }
  }
}
