<div class="container-fluid d-flex justify-content-center align-items-center">
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Welcome to Crossword Designer!</h5>
      <form [formGroup]="signInForm" (ngSubmit)="onSignIn()">
        <p class="text-danger" [ngStyle]="{ 'opacity': invalidPassword ? '1' : '0' }">Sorry that password doesn't match our records.</p>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            id="email"
            type="email"
            class="form-control"
            [ngClass]="{ 'is-invalid': email?.invalid && (email?.dirty || email?.touched) }"
            formControlName="email"
            placeholder="name@example.com" />
          <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="invalid-feedback">Please enter a valid email address.</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            id="password"
            type="password"
            class="form-control"
            [ngClass]="{ 'is-invalid': password?.invalid && (password?.dirty || password?.touched) }"
            formControlName="password" />
          <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="invalid-feedback">Password is required.</div>
        </div>
        <div class="d-grid gap-2">
          <button class="btn btn-primary" [disabled]="email?.invalid || password?.invalid" type="submit">Sign In</button>
        </div>
      </form>
    </div>
  </div>
</div>
