.container-fluid {
  padding: 10px 40px;

  .card.new {
    width: 200px;
    margin-bottom: 20px;

    .card-body {
      padding: 8px 16px;
    }
  }

  .card-body {
    padding: 5px 15px 15px;
  }

  .text-truncate {
    max-width: 100%;
  }
}
