.nav {
  margin-top: 16px;

  .nav-item {
    margin: 4px 20px;

    .nav-link {
      height: 56px;
      width: 56px;
      padding: 16px 18px;
      background: white;
      color: #495057;
    }

    .nav-link:hover {
      background: #f8f9fa;
      color: black;
    }

    .nav-link.active {
      background: black;
      color: white;
    }
  }
}
