.container {
  padding-top: 20px;
}

table {
  outline: none;
}

.spacer {
  background-color: #212529;
}

.spacer.selected {
  background-color: #495057;
}

.selected {
  background-color: #dee7f6;
}

.square {
  padding: 0px;

  .number {
    position: absolute;
    font-size: x-small;
  }

  .circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-color: #212529;
    border-width: 10px;
  }

  .value {
    font-size: larger;
  }
}
