<div class="container-fluid">
  <div class="row">
    <app-toolbar
      [locked]="locked"
      [name]="name"
      [config]="{ type: 2 }"
      (editModeChange$)="editMode = $event; onUpdateConfig()"
      (viewModeChange$)="viewMode = $event; onUpdateConfig()"
      (showHideEvent$)="answersHidden = !answersHidden; onUpdateConfig()"
      (saveEvent$)="onSave()"
      (lockEvent$)="onLock()"
      (clearEvent$)="onClear()"></app-toolbar>
  </div>
  <div class="row mt-4" *ngIf="puzzleLoaded">
    <div class="col">
      <app-grid [config$]="gridConfig$"></app-grid>
    </div>
    <div class="col">
      <app-selected-clue></app-selected-clue>
      <app-answer-bank></app-answer-bank>
    </div>
  </div>
</div>
