<div class="row gy-4 group">
  <div *ngFor="let puzzle of puzzles; index as i" class="col-3">
    <div class="card h-100" role="button" type="button" (click)="onPuzzleSelect(i)">
      <div class="card-body">
        <div class="hstack gap-3">
          <div class="text-body-tertiary">
            <small>Edited {{ puzzle.lastEdited | date : "shortDate" }}</small>
          </div>
          <div *ngIf="!config.readonly" class="ms-auto">
            <svg-icon
              name="three-dots"
              type="button"
              (click)="$event.stopPropagation()"
              data-bs-toggle="dropdown"
              aria-expanded="false"></svg-icon>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a role="button" class="dropdown-item lock-item" (click)="onPuzzleLock($event, i)">{{
                  puzzle.locked ? "Unlock" : "Lock"
                }}</a>
              </li>
              <li>
                <a role="button" class="dropdown-item share-item" (click)="onPuzzleShare($event, i)">{{
                  puzzle.public ? "Make Private" : "Make Public"
                }}</a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li><a role="button" class="dropdown-item delete-item text-danger" (click)="onPuzzleDelete($event, i)">Delete</a></li>
            </ul>
          </div>
        </div>
        <div class="hstack gap-2 heading">
          <svg-icon *ngIf="puzzle.locked" name="lock-locked"></svg-icon>
          <strong class="card-title d-inline-block text-truncate text-center">{{ puzzle.name }}</strong>
        </div>
        <div class="text-body-secondary">
          <span>{{ config.showOwner ? "By " + puzzle.owner : puzzle.public ? "Public" : "Private" }}</span>
          <svg-icon name="one-dot"></svg-icon>
          <span>{{ puzzle.width }}x{{ puzzle.height }}</span>
        </div>
      </div>
    </div>
  </div>
  <p id="empty-msg" *ngIf="puzzles.length == 0" class="text-center">No puzzles yet</p>
</div>
