/* You can add global styles to this file, and also import other style files */
h1 {
  font-size: x-large !important;
}

h2 {
  font-size: large !important;
  font-weight: bold;
  margin-bottom: 20px;
}
