<div class="container">
  <div class="row">
    <div class="hstack gap-3">
      <button class="ms-auto btn btn-success" type="submit" (click)="onSave()">Save</button>
      <button class="btn btn-danger" type="submit" (click)="onClear()">Clear</button>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="section">
        <h3>Theme Answers</h3>
        <form class="row g-3" [formGroup]="newThemeAnswerForm" (ngSubmit)="addAnswer(true)">
          <div class="col-auto">
            <input type="text" class="form-control" id="themeAnswerInput" placeholder="New answer" formControlName="answer" />
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Add</button>
          </div>
        </form>
        <div class="hstack gap-3" *ngFor="let t of themeAnswers | keyvalue">
          <table class="table table-sm table-bordered" [ngStyle]="{ 'width.px': t.key.length * 30 }">
            <tbody>
              <tr>
                <td class="square" *ngFor="let char of t.key.split(''); let i = index" (click)="toggleCircle(t.key, i)">
                  <div class="square-contents" [ngStyle]="{ 'height.px': 30, 'width.px': 30 }">
                    <div class="circle" [ngStyle]="{ 'border': t.value.includes(i) ? 'solid' : 'none' }">
                      <div class="value text-center">
                        <span>{{ char }}</span>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="p-2 ms-auto">
            <span class="badge text-bg-secondary">{{ t.key.length }}</span>
          </div>
        </div>
      </div>
      <div class="section">
        <h3>Answers</h3>
        <form class="row g-3" [formGroup]="newAnswerForm" (ngSubmit)="addAnswer(false)">
          <div class="col-auto">
            <input type="text" class="form-control" id="answerInput" placeholder="New answer" formControlName="answer" />
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Add</button>
          </div>
        </form>
        <div class="hstack gap-3" *ngFor="let answer of answers">
          <p>{{ answer }}</p>
          <div class="p-2 ms-auto">
            <span class="badge text-bg-secondary">{{ answer.length }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <!-- <h3>Filter</h3> -->
    </div>
  </div>
</div>
