<div class="container-fluid">
  <div class="row"><h1>Puzzles</h1></div>
  <div class="row">
    <div class="col">
      <div class="card new" role="button" type="button" data-bs-toggle="modal" data-bs-target="#createModal">
        <div class="card-body">
          <div class="hstack gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
              <path
                fill-rule="evenodd"
                d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
            </svg>
            <div class="p-1">New Puzzle</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Create New Puzzle</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="newPuzzleForm" (ngSubmit)="createPuzzle()">
            <div class="mb-3">
              <input type="text" class="form-control" aria-label="Puzzle Title" placeholder="Title" formControlName="title" />
            </div>
            <div class="mb-3">
              <div class="input-group mb-3">
                <input type="number" class="form-control" aria-label="Width" placeholder="Width" formControlName="width" />
                <input type="number" class="form-control" aria-label="Height" placeholder="Height" formControlName="height" />
              </div>
            </div>
            <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Create</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="listLoaded" class="row gy-4">
    <div *ngFor="let puzzle of puzzleList" class="col-3">
      <div class="card existing h-100">
        <div class="card-body">
          <div class="hstack gap-3">
            <div>
              <svg
                *ngIf="puzzle.locked"
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-lock-fill"
                viewBox="0 0 16 16">
                <path
                  d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z" />
              </svg>
            </div>
            <div class="ms-auto">
              <svg
                type="button"
                class="btn btn-secondary dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-three-dots"
                viewBox="0 0 16 16">
                <path
                  d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
              </svg>
              <ul class="dropdown-menu dropdown-menu-end">
                <li *ngIf="puzzle.locked"><a role="button" class="dropdown-item" (click)="setPuzzleLock(puzzle.id, false)">Unlock</a></li>
                <li *ngIf="!puzzle.locked"><a role="button" class="dropdown-item" (click)="setPuzzleLock(puzzle.id, true)">Lock</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a role="button" class="dropdown-item text-danger" (click)="deletePuzzle(puzzle.id)">Delete</a></li>
              </ul>
            </div>
          </div>
          <div class="p-1">
            <strong class="card-title d-inline-block text-truncate text-center" (click)="loadPuzzle(puzzle.id)">{{ puzzle.name }}</strong>
          </div>
          <div class="p-1">
            <div>{{ puzzle.width }}x{{ puzzle.height }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
